@import 'common.css';

main > h2 {
    color: var(--primary-color);
}

.save-place {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--save-bg);
    color: var(--save-text);
    border: 1px solid var(--save-text);
}

.dangerous-place {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--dangerous-bg);
    color: var(--dangerous-text);
    border: 1px solid var(--dangerous-text);
}

.impassable-place {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--impassable-bg);
    color: var(--impassable-text);
    border: 1px solid var(--impassable-text);
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popup-content h3 {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-bottom: var(--spacing);
}

.popup-content p {
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 8px;
    font-weight: bold;
}

.popup-content p span {
    font-weight: normal;
}

.data-table tr.user-application {
    background-color: var(--user-highlight-bg);
    font-weight: bold;
    border-left: 3px solid var(--secondary-color);
}

.data-table tr.state-recommended,
.data-table tr.state-recommended:nth-child(even) {
    background-color: var(--save-bg);
    border-left: 5px solid var(--save-text);
}

.data-table tr.state-blocked {
    background-color: var(--state-blocked-bg);
    border-left: 5px solid var(--dangerous-text);
}

.data-table tr.state-rejected {
    opacity: 0.6;
    background-color: var(--state-rejected-bg);
}

.data-table tr.state-canceled,
.data-table tr.state-canceled:nth-child(even){
    background-color: var(--impassable-bg);
    border-left: 5px solid var(--impassable-text);
}

.data-table tr.state-recommended:hover {
    background-color: var(--state-rec-hover);
    cursor: pointer;
}

.data-table tr.state-blocked:hover {
    background-color: var(--state-blocked-hover);
    cursor: pointer;
}

.data-table tr.state-rejected:hover {
    background-color: var(--state-rejected-hover);
    opacity: 1;
    cursor: pointer;
}

.data-table tr.state-canceled:hover {
    background-color: var(--state-canceld-hover);
    cursor: pointer;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.85em;
    font-weight: bold;
    display: inline-block;
}

.badge-success {
    color: var(--badge-success-text);
    background-color: var(--badge-success-bg);
}

.badge-warning {
    color: var(--badge-warning-text);
    background-color: var(--badge-warning-bg);
    border: 1px solid var(--badge-warning-border);
}

.badge-neutral {
    color: var(--badge-neutral-text);
    background-color: var(--badge-neutral-bg);
}

.badge-danger {
    color: var(--badge-danger-color);
    background-color: var(--badge-danger-bg);
    border: 1px solid var(--badge-danger-border);
}