@import 'common.css';

main > h2 {
    color: var(--primary-color);
}

.save-place {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--save-bg);
    color: var(--save-text);
    border: 1px solid var(--save-text);
}

.dangerous-place {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--dangerous-bg);
    color: var(--dangerous-text);
    border: 1px solid var(--dangerous-text);
}

.impassable-place {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    background-color: var(--impassable-bg);
    color: var(--impassable-text);
    border: 1px solid var(--impassable-text);
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popup-content h3 {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-bottom: var(--spacing);
}

.popup-content p {
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 8px;
    font-weight: bold;
}

.popup-content p span {
    font-weight: normal;
}

.data-table tr.user-application {
    background-color: var(--user-highlight-bg);
    font-weight: bold;
    border-left: 3px solid var(--secondary-color);
}

.data-table tr.not-actual {
    opacity: .6;
}

.data-table tr.not-actual:hover {
    opacity: 1;
}
